@model PruebaTecnicaWebApp.Models.Empleado

@{
    ViewData["Title"] = "Eliminar ";
}

<h1>Eliminar Empleado</h1>

<h3>Estás seguro de eliminar este registro?</h3>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaIngreso)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombrePuesto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombrePuesto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoIdentificacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Identificacion.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroIdentificacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroIdentificacion)
        </dd>
    </dl>
    
    <form id="formDelete" >
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="IdEmpleado" />
        <button type="submit" class="btn btn-primary">Eliminar</button> |
        <a asp-action="Index" class="btn btn-primary btn-warning">Regresar</a>
    </form>
</div>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#formDelete").submit(function (e) {
                e.preventDefault();

                 var confirmacion = confirm("¿Estás seguro de que deseas eliminar este empleado?");
                    if (!confirmacion) {
                        return; 
                    }

                var token = $('input[name="__RequestVerificationToken"]').val(); 

                var empleado = {
                    IdEmpleado: $("#IdEmpleado").val(),
                    Nombre: $("#Nombre").val(),
                    Apellido: $("#Apellido").val(),
                    FechaIngreso: $("#FechaIngreso").val(),
                    NombrePuesto: $("#NombrePuesto").val(),
                    IdTipoIdentificacion: $("#IdTipoIdentificacion").val(),
                    NumeroIdentificacion: $("#NumeroIdentificacion").val(),
                    Identificacion: null
                };

                $.ajax({
                    url: '@Url.Action("Delete", "Empleado")', 
                    type: "POST",
                    headers: {
                        "RequestVerificationToken": token 
                    },
                    contentType: "application/json",
                    data: JSON.stringify(empleado),
                    success: function (result) {

                        window.location.href = '@Url.Action("Index", "Empleado")';
                    },
                    error: function (xhr, status, error) {
                        alert("Error al eliminar el empleado: " + error);
                    }
                });
            });
        });
    </script>
}
